#nav {
    float: left;
    margin-right: 1%;
    width: 10%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,212,255,0.6) 0%, rgba(9,9,121,0.6) 35%, rgba(2,0,36,0.8) 100%);
}
#content {
    float: right;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}
