body{
    background-image: url('Dallas.jpg');
    padding-left: 10%;
    padding-right: 10%;
}

.spacer{
    margin-top: 40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

td, th{
    border: 2px solid;
    text-align: left;
    padding: 8px; 
}

tr:nth-child(even) {
    background-color: lightskyblue;
  }

.pictures{
    float:right;
}